<!--The content below is only a placeholder and can be replaced.-->
<!--figure class="image">
  <img width="300" src="https://www.schooldistrict149.org/vimages/shared/vnews/stories/538f64b1b7cd5/Blog-header[1].gif">
</figure-->
<div class="column ">
  <div class="column is-offset-one-quarter is-half">
    <div style="text-align:center">
      <p class="is-size-3">
        Welcome to {{title}}
        <br>
        <span class="is-size=6">Help Us Help You</span>
      </p>
    </div>

    <br>
    <h2>Please answer the following questions to be entered into a raffle   for a $100 Target giftcard: </h2>
    
    <hr>

    
    <div class="field is-size-2 is-12 has-text-centered questionnaire vcentered">
      <span><label>Did you eat yesterday?</label></span>
      <div class="control has-text-centered is-size-3">
        <button class="button is-size-4 is-success" (click)="question.eat_yesterday = 'Yes'">Yes</button>
        &nbsp;
        <button class="button is-size-4 is-danger" (click)="question.eat_yesterday = 'No'">No</button>
      </div>
    </div>

    <!--div class="field is-size-2 is-12 has-text-centered questionnaire vcentered">
      <span><label>Did you eat yesterday?</label></span>
      <div class="control has-text-centered is-size-3">
        <button class="button is-size-4 is-success">Yes</button>
        &nbsp;
        <button class="button is-size-4 is-danger">No</button>
      </div>
    </div-->

    <div class="field is-size-2 is-12 has-text-centered questionnaire vcentered">
      <span><label>In the past 12 months, were you worried whether your food would run out before you got money to buy more?</label></span>
      <div class="control has-text-centered is-size-3">
        <button class="button is-size-4 is-success" (click)="question.money_worry = 'Yes'">Yes</button>
        &nbsp;
        <button class="button is-size-4 is-danger" (click)="question.money_worry = 'No'">No</button>
      </div>
    </div>

    <div class="field is-size-2 is-12 has-text-centered questionnaire vcentered">
      <span><label>In the past 12 months, did you run out of food and not have money to buy more?</label></span>
      <div class="control has-text-centered is-size-3">
        <button class="button is-size-4 is-success" (click)="question.money_ranout = 'Yes'">Yes</button>
        &nbsp;
        <button class="button is-size-4 is-danger" (click)="question.money_ranout = 'No'">No</button>
      </div>
    </div>
  </div>
<div class="column is-12 has-text-centered">
  <a href="https://www.chicagosfoodbank.org/find-food/?_ga=2.4028976.1496455220.1506198061-1024810931.1506198061">Click here to find food near you.</a></div>
  <p>
  {{question.eat_yesterday}}
  {{question.money_ranout}}
  {{question.money_worry}}
</div>



